Before the discussion, you need to share all the documents and materials of your project, in particular
- The requirements (as user stories) of your entire system. User stories can be documented by using a spreadsheet and collecting all of them in a booklet. For each user story, it should be provided also a LoFi mockup, to be prepared with the suggested tools (e.g., Balsamiq), and a textual description highlighting specific non functional requirements (if any).
- The estimation of the complexity of the software development, time and effort to carry it out, by using Function Points and COCOMO II methods. The analysis should be presented through spreadsheets and a booklet explaining and detailing your method. 
- The development process based on SCRUM. It is required that you show the different sprints you may want to adopt for the development, each one with goals and planning. You can document the SCRUM method by adopting specific spreadsheets that have been published.
All the work done (design of the system, software architecture, sprints with relevant analytics, e.g., burndown charts) should be documented in a booklet.
- The system developed in whatever technologies/framework you may want. The release should be done by providing the link of a GitHub repo with all the source code, configuration files, any other file you may need (please remember we have adopted a IaC approach - Infrastructure as Code) AND the Dockerfiles, docker-compose files, etc. which will allow the instructors to re-build/re-deploy your system on whatever platform (either on-premise or on cloud).